<div class="banner overlayer" style="background-image: url({{ section.settings.bannerImage | img_url: 'master' }});">
    <div class="bannerInner">
        <div class="container">
            {% if section.settings.bannerHeading != blank %}<h1>{{ section.settings.bannerHeading }}</h1>{% endif %}

            {% if section.settings.bannerLink != blank and section.settings.bannerLinkContent != blank %}
            <a href="{{ section.settings.bannerLink }}" class="siteBtn transparnt-btn">{{ section.settings.bannerLinkContent }}</a>
            {% endif %}
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Banner",
    "settings": [
        {
            "type": "image_picker",
            "id": "bannerImage",
            "label": "Banner Image"
        },
        {
            "type": "richtext",
            "id": "bannerHeading",
            "label": "Banner Heading"
        },
        {
            "type": "url",
            "id": "bannerLink",
            "label": "Banner Link"
        },
        {
            "type": "text",
            "id": "bannerLinkContent",
            "label": "Banner Link Content",
            "default": "Apply Here"
        }
    ],
    "presets": [
        {
            "category": "Banner",
            "name": "Main Banner"
        }
    ]
}
{% endschema %}