<div class="productGallery">
  {% if section.settings.heading != blank %}<h2>{{ section.settings.heading }}</h2>{% endif %}
  {% if section.blocks.size > 0 %}
    <div class="gallery">
      {% for block in section.blocks %}
        <a href="{{ block.settings.image | img_url: "master" }}" class="big"
          ><img loading="lazy" src="{{ block.settings.image | img_url: "master" }}" alt=""
        /></a>
      {% endfor %}
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Landing Page Gallery",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "People Aren't Hearing All the Music"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Gallery Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Gallery",
      "name": "Landing Page Gallery",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}