<div class="container">
    {% if section.settings.partnerHeading != blank %}<h2>{{ section.settings.partnerHeading }}</h2>{% endif %}

    {% assign blockSize = section.blocks | size %}
    {% if blockSize > 0 %}
    <div class="row conCenter">
        {% for block in section.blocks %}
            <div class="col-sm-2">
                <div class="imageContainer">
                    <a href="{{ block.settings.partnerLogo | img_url: 'master' }}" class="lightbox">
                        <img src="{{ block.settings.partnerLogo | img_url: 'master' }}" alt="">
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

{% schema %}
{
    "name": "Partner Section",
    "class": "logoContainer lightGrayBg center",
    "tag": "section",
    "settings": [
        {
            "type": "text",
            "id": "partnerHeading",
            "label": "Partner Heading"
        }
    ],
    "blocks": [
        {
            "type": "partners",
            "name": "Partners Logo",
            "limit": 12,
            "settings": [
                {
                    "type": "image_picker",
                    "id": "partnerLogo",
                    "label": "Partner Logo"
                }
            ]
        }
    ],
    "presets": [
        {
            "category": "Partners",
            "name": "Partner's Section"
        }
    ]
}
{% endschema %}