.tableInner p {
    margin-top: 1.5em;
    position: relative;
    z-index: 2;
}

.collectionList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    .box {
        align-content: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        min-height: 15em;
        padding: 15px;
        position: relative;
        z-index: 1;

        &::before {
            background-color: rgba(0, 0, 0, .5);
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
        }

        a {
            align-content: center;
            align-items: center;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            color: #ffffff;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            height: 100%;
            position: relative;
            width: 100%;
            z-index: 2;

            &.noImage {
                background-color: rgba(0, 0, 0, .5);
            }
        }
    }

    .box2 {
        width: 50%;
    }
    
    .box3 {
        width: 33.33%;
    }
    
    .box4 {
        width: 25%;
    }
}
